<?xml version="1.0"?>
<launch>

	<node name="serial_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0 _baud:=115200" output="screen"/>

   <!-- <node name="tf_imu" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 imu_link_old imu_link 10" output="screen"/>

    <node name="transformer_node" pkg="imu_transformer" type="imu_transformer_node" output="screen">
        <remap from="imu_in" to="bno080"/>
        <remap from="imu_out" to="bno080_transformed"/>
        <param name="target_frame" value="imu_link"/>
    </node> -->

</launch>

